    $ git status
    [...]
    # Untracked files:
    [...]
    #
    [...]
    $ cat .git/info/exclude
    # ignore objects and archives, anywhere in the tree.
    $ cat TrabajoGrupal/.gitignore
    # ignore generated html files,
    *.html
    $ git status
    [...]
    # Untracked files:
    [...]
